/* cssmtic */
/*
Pseudoselector, inician con dos puntos.
root para almacenar variables, custom properties
*/
:root {
	-blanco: #ffffff;
	--oscuro: #212121;
	--primario: #ffc107;
	--secundario: #0097a7;
	--gris: #757575;
}
/*rem es relativo al documento*/
/* 1rem = 10 px y se adaptan a la densidad de píxeles de la pantalla*/
/*
Selector de elemento: elemento en base a la etiqueta HTML, selecciona todos.
Selector de clase: atributo de las etiquetas, inicia con punto.
Selector de ID: atributo de las etiquetas, solo uno por documento, inicia con numeral.
Selector de atributo: selecciona elementos basados en los atributos.
Combinación de descendentes: selecciona una clase, ID o etiqueta cuyo padre sea una clase, ID o etiqueta en específico.
Selector de todos los hijos: selecciona todos los hijos en especídifoc cuyo padre sea uno en específico. Va como padre > hijo.
*/
html {
	font-size: 62.5%;
	/*Las dos cosas de box-sizing para no alterar dimensiones*/
	box-sizing: border-box;
	scroll-snap-type: y mandatory; /*Para ubicar el scroll*/
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-size: 16px;
	font-family: "Krub", sans-serif;
	background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%); /*dirección, color y color stop*/
}
h1 {
	font-size: 3.8rem;
}
h2 {
	font-size: 2.8rem;
}
h3 {
	font-size: 1.8rem;
}
h1, h2, h3 {
	text-align: center;
}
.titulo span {
	font-size: 2rem;
}
.contenedor {
	max-width: 120rem;
	margin: 0 auto;
}
.boton {
	background-color: var(--secundario);
	color: var(--blanco);
	padding: 1rem 3rem;
	text-decoration: none;
	margin-top: 1rem;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0.5rem;
	width: 90%;
	text-align: center;
	border: none;
}
.boton:hover {
	cursor: pointer;
}
@media (min-width: 480px) {
	.boton {
		width: auto;
	}
}
.w-sn-100 {
	width: 100%;
}
@media (min-width: 768px) {
	.w-sn-100 {
		width: auto;
	}
}
.flex {
	display: flex;
}
.alinear-boton-derecha {
	justify-content: flex-end;
}
.sombra {
	-webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.55);
	-moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.55);
	box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.55);
	background-color: var(--blanco);
	padding: 2rem;
	border-radius: 1rem;
}
.nav-bg {
	background-color: var(--secundario);
}
.navegacion-principal {
	display: flex;
	flex-direction: column;
	/*align-items: ; para column*/
	align-items: center;
}
.navegacion-principal a {
	color: var(--blanco);
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
	padding: 1rem;
}
.navegacion-principal a:hover {
	background-color: var(--primario);
	color: var(--oscuro);
}
@media (min-width: 468px) {
	.navegacion-principal {
		flex-direction: row;
		justify-content: space-between;
	}
}
.hero {
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 45rem;
	position: relative;
	margin-bottom: 2rem;
}
.contenido-hero {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	/*background-color: regb(0 0 0 / 20%);*/
	width: 100%;
	height: 100%;
	/*top: 0;
	bottom: 0;
	right: 0;
	left: 0;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.servicio,
.navegacion-principal,
.formulario {
	/*Para establecer dónde ubicar el scroll*/
	scroll-snap-align: center;
	scroll-snap-stop: always;
}
.contenido-hero h2,
.contenido-hero p {
	color: var(--blanco);
}
.ubicacion {
	display: flex;
	align-items: flex-end;
}
@media (min-width: 768px) {
	.servicios {
		display: grid;
		grid-template-columns: repeat(3, 1fr); /*Divide el espacio en porcentaje o en fracciones, repeat por son los mismos valores*/
		/*grid-template-rows: 20rem 80rem;
		grid: 20rem 80rem / 30rem 30rem; /*row row / column column*/
		column-gap: 1rem;
	}
}
.servicio {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.servicio h3 {
	color: var(--secundario);
	font-weight: normal;
}
.servicio p {
	line-height: 2;
	text-align: center;
}
.servicio .icono {
	height: 15rem;
	width: 15rem;
	background-color: var(--primario);
	border-radius: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.formulario {
	background-color: var(--gris);
	width: min(60rem, 100%); /*Utiliza el valor más pequeño*/
	margin: 0 auto; /*Cuando el elemento no es un display: flex;*/
	padding: 2rem;
	border-radius: 1rem;
}
.formulario fieldset {
	border: none;
}
.formulario legend {
	text-align: center;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2rem;
	color: var(--primario);
}
@media (min-width: 768px) {
	.contenedor-campos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto 20rem;
		column-gap: 1rem;
	}
	.campo:nth-child(3), .campo:nth-child(4)/*Selecciona uno de varios elementos que son iguales*/ {
		grid-column: 1 / 3;
	}
}
.campo {
	margin-bottom: 1rem;
}
.campo label {
	color: var(--blanco);
	font-weight: bold;
	margin-bottom: 0.5rem;
	display: block;
}
/*.campo input[type="text"] Selectores con etiquetas con atributos*/
.input-text {
	width: 100%;
	border: none;
	padding: 1.5rem;
	border-radius: 0.5rem;
}
.campo textarea {
	height: 17rem;
}
.footer {
	text-align: center;
}